{{define "nav-main-admin"}}

<nav>
<ul class="topnav">
  <li><a href="/insert">Asset Management</a></li>
  <li><a href="/search">Search</a></li>
  <li class="right"><a href="/logout">Logout</a></li>
</ul>
</nav>

{{end}}
